<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.CategoryMapper">

  <select id="selectAll" resultMap="CategoryBaseResultMap">
    select * from jz_category;
  </select>
  
  <insert id="insert" parameterType="com.briup.app02.bean.Category">
    insert into jz_category values(null,#{id},#{name},#{nu},#{parentId});
  </insert>

  <select id="selectCategoryTree" resultMap="CategoryTreeResultMap">
    SELECT * FROM jz_category WHERE parent_id IS NULL
  </select>

  <select id="selectByParentId" resultMap="CategoryBaseResultMap">
    SELECT * FROM jz_category WHERE parent_id = #{id}
  </select>

  <select id="selectById" resultMap="CategoryBaseResultMap">
    SELECT * FROM jz_category WHERE id = #{id}
  </select>

  <resultMap id="CategoryTreeResultMap"
             type="com.briup.app02.bean.extend.CategoryExtend"
             extends="CategoryBaseResultMap">
    <collection property="children" column="id" select="selectByParentId"></collection>

  </resultMap>
<!--  映射结果集-->
  <resultMap id="CategoryBaseResultMap" type="com.briup.app02.bean.Category">
    <id property="id" column="id"></id>
    <result property="nu" column="nu"></result>
    <result property="name" column="name"></result>
    <result property="parentId" column="parent_id"></result>
  </resultMap>
</mapper>