<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.ProductMapper">

<!--  查询全部商品-->
  <select id="selectAll" resultMap="abc">
    SELECT * FROM jz_product
  </select>

  <insert id="insert" parameterType="com.briup.app02.bean.Product">
    INSERT INTO jz_product VALUES (null,#{name},#{introduce},#{price},#{status},#{photo},#{sales},#{categoryId})
  </insert>
  
  <delete id="deleteById" parameterType="long">
    DELETE FROM jz_product WHERE id = #{id}
  </delete>

  <resultMap id="abc" type="com.briup.app02.bean.Product">
    <id property="id" column="id"></id>
    <result property="name" column="name"></result>
    <result property="introduce" column="introduce"></result>
    <result property="photo" column="photo"></result>
    <result property="price" column="price"></result>
    <result property="sales" column="sales"></result>
    <result property="categoryId" column="category_id"></result>
  </resultMap>
</mapper>